.tituloModal{
    width: 100%;
}

.contratanos-container{
    margin: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 25% 25% 25%;     
}

.contratanos-container--principal{
    @extend.contratanos-container;
    grid-template-areas: "galeria-container__itemGrande1 galeria-container__itemGrande2 galeria-container__itemGrande3 galeria-container__itemGrande4";
}